<a href="https://colab.research.google.com/github/jkhwang150/CodingTest/blob/main/Ormi/100%EC%A0%9C(41_50).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 41. 소수 판별
''' 숫자가 주어지면 **소수인지 아닌지 판별하는 프로그램**을 작성해주세요.
소수이면 YES로, 소수가 아니면 NO로 출력해주세요.

- 소수 : 1과 자기 자신만으로 나누어떨어지는 1보다 큰 양의 정수
- 음의 소수는 고려하지 않습니다. '''

# solution)
num = int(input())
count = 0
for i in range(2,num):
    if num  % i == 0:
        count += 1
if count == 0:
    print('Yes')
else:
    print('No')

4
No

In [4]:
# 42. 요일 구하기
''' 2020년 1월 1일은 수요일입니다. 2020년 a월 b일은 무슨 요일일까요?
두 수 a, b를 입력받아 2020년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요.
요일의 이름은 일요일부터 토요일까지 각각 SUN, MON, TUE, WED, THU, FRI, SAT 입니다.
 '''

 # solution)
import datetime
a = int(input()) # 달
b = int(input()) # 일
day = ["MON","TUE","WED","THU","FRI","SAT","SUN"]

print(day[datetime.date(2020, a, b).weekday()])

3
10
TUE

In [ ]:
# 43. 10진수를 2진수로
''' 우리가 흔히 사용하는 숫자 1, 8, 19, 28893 등등...은 10진수 체계입니다.
이를 컴퓨터가 알아 들을 수 있는 2진수로 바꾸려고 합니다. 어떻게 해야할까요?
 단, bin 함수를 사용하지 마시오.
 '''

# solution)
a = int(input())
b = []

while a:
    b.append(str(a%2)) # 2로 나눴을 때 나머지를 b에 저장
    a = int(a/2) # 2진수 이므로 2의 지수대로 나누어야 함
b.reverse() # b에는 가장 큰 수부터 들어갔으므로 뒤집어 주어야함
print(''.join(b))

In [18]:
# 44. 각 자리수의 합
''' 사용자가 입력한 양의 정수의 각 자리수의 합을 구하는 프로그램을 만들어주세요 '''

# solutio) 문자로 변환하여 리스트에 담은 후 정수형으로 변환하여 덧셈
a = int(input())
b = list(str(a))
print(b)
answer = 0
for i in b:
    answer += int(i)
print(answer)

# solution) map 함수 사용하기 - 한글자씩 리스트에 저
n = list(map(int,input()))
result = 0
print(n)
for i in n:
    result += i
print(result)

12345
['1', '2', '3', '4', '5']
15
12345
[1, 2, 3, 4, 5]
15

In [20]:
# 45. time함수 사용하기
''' python의 모듈 중 하나인 time 모듈은 1970년 1월 1일 0시 0분 0초 이후로부터
지금까지 흐른 시간을 초단위로 반환합니다
현재 년도를 출력하는 프로그램을 작성하시오.'''

# solution)
import time

t = time.time()
t = int(t//(3600*24*365))+1970
print(t)

2024

In [28]:
# 46. str 자료형의 응용
''' 1부터 100까지의(100을 포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하세요.  '''
s = ''
for i in range(1,101):
    s += str(i)
n = list(map(int,s))
result = 0
for i in n:
    result+=i
print(result)

901

In [31]:
# 47.set 자료형의 응용
''' 바울랩에서는 3월 29일 제주대학교에서 '제주 빅데이터 사회혁신 해커톤' 행사를 주최하게 되었습니다.
    이에 구글 설문지를 배포하였으나 제주대학생들이 중복해서 n개씩 설문지를 제출하였습니다.
    중복된 데이터들을 삭제하여 실제 접수 명단이 몇 명인지 알고 싶습니다. '''

# solution)

people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]
a = list(set(people))
print(len(a))

5

In [35]:
# 48. 대소문자 바꿔서 출력하기
''' 문자열이 주어지면 대문자와 소문자를 바꿔서 출력하는 프로그램을 작성하세요. '''

# solution)
s = input()
answer = ''
for i in s:
    if 'a' <= i <= 'z': # i.islower() 메서드 사용가
        answer+=(i.upper())
    else:
        answer+=(i.lower())
print(answer)

AAABBBcccddd
aaabbbCCCDDD

In [39]:
# 49. 최댓값 구하기
''' 순서가 없는 10개의 숫자가 공백으로 구분되어 주어진다. 주어진 숫자들 중 최댓값을 반환하라. '''

# solution)
nums = list(map(int,input().split()))

print(max(nums))

10 9 8 7 6 5 4 3 2 1
10

In [42]:
# 50. 버블정렬 구현하기
''' 버블정렬은 두 인접한 원소를 검사하여 정렬하는 방법을 말합니다.
시간 복잡도는 느리지만 코드가 단순하기 때문에 자주 사용됩니다. '''

# solution)
def bubble(n, data): # 숫자의 갯수와  숫자들을 입력 받음
	for i in range(0,n-1): # 가장 앞의 수
		for j in range(n-i-1): # 인접한 수들과 비교
			if data[j] > data[j+1]: # 정렬
				data[j], data[j+1] = data[j+1], data[j]
	for i in range(n):
		print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

6
3 5 7 9 1 2
1 2 3 5 7 9